{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="about-section">
  <h2>About Me</h2>
  <div class="about-grid">
    
    <!-- Profile Picture -->
    <img src="{% static 'images/port-4.jpg' %}" alt="Profile" class="about-photo">

    <!-- Details Section -->
    <div class="about-details">
      <h3>Python Developer & Web Developer & Django Developer & Full-Stack Developer</h3>
      <h4>
        I’m V.VASIGARAN, and I’ve passed out 2024 with a degree in Computer  Engineering Recently completed Python Full Stack Development course in PySpiders Marathahalli During my studies, I gained a strong foundation in programming, software development, and problem-solving, with hands-on experience in projects involving AI solution for farmers, like web development, machine learning, and I’m excited to start applying what I’ve learned in a professional environment. I’m eager to bring my technical skills, enthusiasm, and fresh perspective to a team where I can continue learning and contributing to impactful projects.  
      </h4>

      <div class="info-grid">
        <p><strong>LinkedIn:</strong> www.linked.com/Vasigaranv</p>
        <p><strong>Phone:</strong> +91 8639596951</p>
        <p><strong>Email:</strong> vasigaranvasee79714@gmail.com</p>
        <p><strong>Degree:</strong> Bachelor of Technology</p>
        <p><strong>City:</strong> Marathahalli, Bangalore, India</p>
        <p><strong>Opportunities:</strong> Available</p>
      </div>
    </div>

  </div>
</section>
{% endblock %}
