<!-- templates/projects.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container mt-5">
    <h2>My Projects</h2>
    <div class="row">
      <div class="col-md-4 mb-4" >
        <div class="card shadow-sm">
          <div class="card-body">
            <h2 class="card-title">AI Solution for farmers</h2>
            <h5 class="card-text">*Implemented ARMA method to Predict time-series data</h5>
            <h5 class="card-text">*To predict the rainfall based on the past historical data</h5>
            <h5 class="card-text">*To help the farmers to select the crop based on future climatic conditions</h5>
             <h5 class="card-text">*It predicts future years temperature and ground water level</h5>
           
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4" >
        <div class="card shadow-sm">
          <div class="card-body">
            <h2 class="card-title">Travel Web page</h2>
            <h5 class="card-text">*Developed a travel web pages for famous locations in India</h5>
            <h5 class="card-text">*Based on the location we have given a package amount for the location</h5>
            <h5 class="card-text">*We Create webpage where everyone can easy to use and see the pictures and description of the location and choose the location</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" >
        <div class="card shadow-sm">
          <div class="card-body">
            <h2 class="card-title">Fingerprint Door Lock</h2>
            <h5 class="card-text">*By using Internet of things concept we created this lock system</h5>
            <h5 class="card-text">*Based on this we have used the Arduino Board to run the process and the lock system have to access the previously saved data.</h5>
          </div>
        </div>
      </div>

      <!-- Add more projects here -->
    </div>
  </div>
{% endblock %}
